{% extends 'base.html.twig' %}

{% block title %}Probleme index{% endblock %}

{% block body%}

<div class="container text-center page-center-container">
	<div class="content">
		<h3>La ville de <span class="font-weight-bolder"> {{commune}} </span> n'utilise pas encore nos services :/</h3>
		<p>Vous pouvez contacter votre mairie pour leur parler de nous !</p>
		<a class="text-primary" href="{{ path('probleme_new') }}"><i class="fas fa-arrow-left"></i> retour à la création d'un problème</a>
	</div>
</div>
{% endblock %}