{% extends 'base.html.twig' %}

{% block title %}edit profile{% endblock %}

{% block body %}

    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Mon profil</h1>
        </div>
    </div>
    <div class="container">
        {{ include('profile/_form.html.twig') }}
    </div>
{% endblock %}
{% block moreScript %} {{ parent() }} {% endblock %}
