{% extends 'base.html.twig' %}

{% block title %}Connectez-vous!{% endblock %}

{% block body %}
    
    {% if error %}
        <div class="alert alert-danger my-2 mx-1 text-center"><h4>{{ error.messageKey|trans(error.messageData, 'security') }}</h4></div>
    {% endif %}

    <div class="page-center-container">
        <div class="content fill text-center">
            <form method="post">
                
                <h1 class=" mb-5 text-primary">Veuillez saisir vos identifiants</h1>
                
                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputMail"><i class="fa fa-at"></i></label>
                    </div>
                    <input type="text" placeholder="Email" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" required autofocus>
                </div>
                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputPassword"><i class="fa fa-key"></i></label>
                    </div>
                    <input type="password" placeholder="Mot de passe" name="password" id="inputPassword" class="form-control" required>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                #}
                <div class="row mt-4">
                    <div class="col-md-3">
                        <a class="btn btn-lg btn-secondary btn-block mb-3" href={{ path('reset_password') }}> Mot de passe oublié ?</a>
                    </div>
                    <div class="col-md">
                        <button class="btn btn-lg btn-primary btn-block" type="submit"> Se connecter </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
