{% extends 'base.html.twig' %}
{% use 'priorite/assets/base.html.twig' %}

{% block title %}Editer Priorite{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Editer la priorité</h1>
		</div>
	</div>
	<div class="container">
    	{{ include('priorite/_form.html.twig', {'button_label': 'Modifier', 'edit': true}) }}
    </div>
{% endblock %}
{% block moreScript %}{{ parent() }}{% endblock %}