<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Supprimer le problème</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <h5>Voulez-vous vraiment supprimer ce problème ?</h5>
      <h6>Cela inclue toutes les informations qui le concerne, à savoir :</h6>
      <ul id="delete_probleme" class="list-group" role="tablist">
        <li class="list-group-item py-1" role="tab"><i class="fa fa-image mr-1"></i>Ses images</li>
        <li class="list-group-item py-1" role="tab"><i class="fa fa-clipboard mr-1"></i>Ses historiques</li>
        <li class="list-group-item py-1" role="tab"><i class="fa fa-tools mr-1"></i>Ses interventions</li>
        <li class="list-group-item py-1" role="tab"><i class="fa fa-file-alt mr-1"></i>Ses comptes rendus </li>
      </ul>
      {{ include('probleme/forms/_delete_form.html.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <input type="submit" form="probleme_delete" class="btn btn-danger" value="{{ button_label|default('Supprimer') }}"/>
      </div>
    </div>
  </div>
</div>