<div class="modal fade" id="modal_delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Supprimer le problème</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Voulez-vous vraiment supprimer ce problème ?<br>
      <font size="-2">cela inclue toutes les informations qui le concerne, à savoir :
        <ul id="delete_probleme" style="width: 40%" class="list-group"  role="tablist">
          <li style="font-size: smaller" class="list-group-item py-1" role="tab">Ses images</li>
          <li style="font-size: smaller" class="list-group-item py-1" role="tab">Ses historiques</li>
          <li style="font-size: smaller" class="list-group-item py-1" role="tab">Ses interventions</li>
          <li style="font-size: smaller" class="list-group-item py-1" role="tab">Ses comptes rendus </li>
        </ul>
      </font>
      {{ include('probleme/forms/_delete_form.html.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <input type="submit" form="probleme_delete" class="btn btn-danger" value="{{ button_label|default('Supprimer') }}"/>
      </div>
    </div>
  </div>
</div>