{% extends 'base.html.twig' %}

{% block title %}Fournisser une adresse mail{% endblock %}

{% block body %}
    <h1>Fournissez une adresse mail</h1>

    {{ include('probleme/forms/_formRedirect.html.twig') }}

    <a href="{{ path('probleme_index') }}">back to list</a>
{% endblock %}
