{% extends 'base.html.twig' %}

{% block title %}Adresse de contact{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Mail de contact</h1>
			<p class="lead">
				Veuillez saisir une adresse mail afin de vous faire part de l'état de votre signalement.
			</p>
		</div>
	</div>
	<div class="container">
    	{{ include('probleme/forms/_formRedirect.html.twig') }}
	</div>

{% endblock %}
