html {
	height: 100%;
}

body {
    display: flex;
  	flex-flow: column;
  	height: 100%;
}

.fill {
	flex-grow : 1;
}

a.active:hover {
	color:white!important;
}

.dropdown-menu > li > a:hover:not(.active),
.dropdown-menu > li > a:focus:not(.active) {
	text-decoration: none;
	background-color: #f2f2f2;
	color:black;
}

.nounderline {
  text-decoration: none !important
}

a.hover-light:hover {
	color:#ECF0F1!important;
}

.pagination > li > a
{
    background-color: #2C3E50;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #2C3E50;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .disabled > a
{
    background-color: #2C3E50 !important;
    color: white !important;
    opacity: 0.6;
}

.form-bottom
{
    position: absolute;
    bottom: 0;
}