html {
	height: 100%;
}

body {
    display: flex;
  	flex-flow: column;
  	height: 100%;
}

.fill {
	flex-grow : 1;
}

a.active:hover {
	color:white!important;
}

.dropdown-menu > li > a:hover:not(.active),
.dropdown-menu > li > a:focus:not(.active) {
	text-decoration: none;
	background-color: #f2f2f2;
	color:black;
}

.nounderline {
    text-decoration: none !important
}

a.hover-light:hover {
	color:#ECF0F1!important;
}

.pagination > li > a
{
    background-color: #2C3E50;
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #2C3E50;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .disabled > a
{
    background-color: #2C3E50 !important;
    color: white !important;
    opacity: 0.6;
}

.form-bottom
{
    position: absolute;
    bottom: 0;
}

.col-fill
{
    display: flex;
    flex-direction: column;
}

.col-fill > *
{
    flex: 1;
}

#delete_probleme{
    list-style-type: "➽" !important;
    width: 40%
}

.page-center-container {
      display: flex;
      flex-grow : 1;
      align-items: center;
      justify-content: center;
}

.page-center-container > .content {
    max-width: 80%;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend {
    line-height: 22px;
    color: #555;
    margin-bottom: 2px;
}

.legend i {
    width: 22px;
    height: 22px;
    float: left;
    margin-right: 10px;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
}