{% extends 'base.html.twig' %}

{% block title %}New Intervenir{% endblock %}

{% block body %}
    <h1>Create new Intervenir</h1>

    {{ include('intervenir/_form.html.twig') }}

    <a href="{{ path('intervenir_index') }}">back to list</a>
{% endblock %}
