{% extends 'base.html.twig' %}

{% block title %}New Personne{% endblock %}

{% block body %}
    <h1>Create new Personne</h1>
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {{ include('personne/_form.html.twig') }}

    <a href="{{ path('personne_index') }}">back to list</a>
{% endblock %}
