{% extends 'base.html.twig' %}

{% block title %}Editer mot de passe{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Modifier mon mot de passe</h1>
        </div>
    </div>
    <div class="container">
        {{ include('password/_form.html.twig') }}
    </div>
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}
