{% extends 'base.html.twig' %}

{% block title %}Editer mot de passe{% endblock %}

{% block body %}
    <h1>Editer le mot de passe</h1>

    {{ include('password/_form.html.twig') }}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <a href="{{ path('home_index') }}">back to list</a>
{% endblock %}
