{% extends 'base.html.twig' %}

{% block title %}New HistoriqueStatut{% endblock %}

{% block body %}
    <h1>Create new HistoriqueStatut</h1>

    {{ include('historique_statut/_form.html.twig') }}

    <a href="{{ path('historique_statut_index') }}">back to list</a>
{% endblock %}
