{% extends 'base.html.twig' %}

{% block title %}Ajouter un rôle{% endblock %}

{% block body %}
    <h1>Ajouter un rôle</h1>

    {{ include('manageRole/_add_form.html.twig') }}

    <a href="{{ path('à choisir') }}">back to list</a>
{% endblock %}
