{% extends 'base.html.twig' %}

{% block title %}Supprimer Rôle{% endblock %}

{% block body %}
    <h1>Supprimer Rôle pour {{ personne }}</h1>

    {{ include('manageRole/_deleteForm.html.twig') }}

    <a href="{{ path('personne_index') }}">back to list</a>
{% endblock %}
