{% extends 'base.html.twig' %}
{% use 'categorie/assets/base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block moreStyle %} {{ parent() }} {% endblock %}

{% block body %}

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Créer une nouvelle catégorie</h1>
		</div>
	</div>
	<div class="container">
    	{{ include('categorie/forms/_form.html.twig') }}
    </div>

{% endblock %}

{% block moreScript %} {{ parent() }} {% endblock %}
