{% extends 'base.html.twig' %}
{% use 'categorie/base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block moreStyle %} {{ parent() }} {% endblock %}

{% block body %}
	
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}">back to list</a>
{% endblock %}

{% block moreScript %} {{ parent() }} {% endblock %}
