{% extends 'base.html.twig' %}

{% block title %}Réiniliser le mot de passe{% endblock %}

{% block body %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-danger my-2 mx-1 text-center">
            <h4>{{ message }}</h4>
        </div>
    {% endfor %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Réinitialiser mon mot de passe</h1>
        </div>
    </div>
    <div class="container">
        {{ include('resetPasswordNext/_form.html.twig') }}
    </div>

{% endblock %}
