{% include 'email/style.html.twig' %}
{% block body %}
    <div>
        Bonjour {{personne.nom}} {{ personne.prenom }}.
    </div>
    <div>
        Votre mot de passe a bien été modifié.
    </div>
{% endblock %}
