{% include 'email/style.html.twig' %}
{% block body %}
    <div class="card-display">
        <div class="card card-center-content">
            <div class="title">
                Changement de votre mot de passe
            </div>
            <div class="card-body">
                <div>
                    Bonjour <b>{{ personne.nom }} {{ personne.prenom }}</b>.
                </div>
                <div style="margin-top: 1%">
                    Votre mot de passe a bien été modifié.
                </div>
            </div>
        </div>
    </div>
{% endblock %}

