{% include 'email/style.html.twig' %}
{% block body %}
    Bonjour fils de lache
    Pour réinitialiser votre mot de passe, cliquez sur ce lien.
    merci grosse pute
    (ps : t'es une merde)
    <a href={{  absolute_url(path('reset_passwordConfirmed', {'resetPasswordToken': resetPasswordToken})) }}> cliquez ici </a>
{% endblock %}
