{% include 'email/style.html.twig' %}
{% block body %}
    Pour réinitialiser votre mot de passe, cliquez sur ce lien.
    <a href={{  absolute_url(path('reset_passwordConfirmed', {'resetPasswordToken': resetPasswordToken})) }}> cliquez ici </a>
{% endblock %}
