{% block importcss %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block stylesheets %}
    <style>
        body
        {
            background-color: #f0f0f0;
            color: black;
        }
        .logo{
            width: 100px;
            height: 100px;
        }
        .card-display{
            display: flex;
            justify-content: center;
            flex-direction: row;
            text-align: center;
            margin-top: 1%;
        }
        .top-card{
            margin-top : 2%;
        }
        .card-center-style{
            text-align: center;
            width: 62%;
        }
        .card-center-content{
            width: 62%;
        }
        .title{
            padding-top: 15px;
            padding-bottom: 0;
            padding-right: 0;
            padding-left: 0;
            text-transform: uppercase;
            font-size: 30px;
            font-family: Helvetica,Arial,sans-serif;
            color: #f28231;
            font-weight: bold;
            text-align: center;
        }


    </style>

{% endblock %}
{% block body %}
    <body>
        <div class="top-card card-display">
            <div class="card card-center-style">
                <div class="card-body card-header">
                <img class="card-img-top logo" src="http://127.0.0.1:8000/images/logomail.png">
                </div>
            </div>
        </div>
    </body>


{% endblock %}