{% block footer %}
    {% if subscribeToken is not null %}
    <p class="text-center"><a style="margin-top: 3%" class="btn btn-warning" href="{{ absolute_url(path('unsubscribe', {'subscribeToken': subscribeToken})) }}"> Me désabonner </a></p>
    {% endif %}
{% endblock %}
