{% block footer %}
    {% if subscribedToken is defined %}
    <p><a href="{{ absolute_url(path('unsubscribe', {'subscribeToken': subscribeToken})) }}"> Me désabonner </a></p>
    {% endif %}
{% endblock %}
